<div class="flex px-20 py-10 justify-center items-center">
  <div
    class="flex-col mx-auto w-72 h-96 p-5 rounded-md border-2 border-blue-300 hover:scale-110"
  >
    <p class="font-bold text-xl text-blue-500 border-b-2 border-blue-500 mb-5">
      ToDo
    </p>
    <div class="border-b-[0.5px] border-stone-500 py-2 space-y-1 mb-2 cursor-pointer">
      <div class="px-2 py-1">+ Add a task</div>
    </div>
    <div class="border-2 border-blue-700 py-2 cursor-pointer">
      <div class="px-2 py-1">Complete the task</div>
    </div>
  </div>
  <div
    class="flex-col mx-auto w-72 h-96 p-5 rounded-md border-2 border-green-300 hover:scale-110"
  >
    <p
      class="font-bold text-xl text-green-500 border-b-2 border-green-500 mb-5"
    >
      In Progress
    </p>
    <div class="border-2 border-green-700 py-2 cursor-pointer">
      <div class="px-2 py-1">Doing the Task</div>
    </div>
  </div>
  <div
    class="flex-col mx-auto w-72 h-96 p-5 rounded-md border-2 border-stone-300 hover:scale-110"
  >
    <p class="font-bold text-xl text-gray-500 border-b-2 border-gray-500 mb-5">
      Done
    </p>
    <div class="border-2 border-gray-700 py-2 space-y-1 cursor-pointer">
      <div class="px-2 py-1">Task is done</div>
    </div>
  </div>
</div>
